a {
    text-decoration: none;
    color: black;
}

.container {
    column-count: 3;
    column-gap: 0;
}

.insideColumn {
    /* background-color: whitesmoke; */
    height: 100vh;
}

.outerColumn {
    /* background-color: lightgray */
    border: 2px solid lightgray;
    height: 100vh;
}

/* Left Column */
.nav {
    padding-left: 400px;
}

.logo {
    width: 32px;
    padding-top: 16px;
    opacity: 1;
    transition: 0.5s ease;
}

.logo:hover {
    opacity: 0.6;
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.link {
    list-style: none;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: start;
    opacity: 1;
    transition: 0.25s ease;
}

.link:hover {
    opacity: 0.6;
    font-weight: bold;
}

.link h3 {
    font-weight: bold;
}

.icons {
    width: 32px;
    padding-right: 8px;
}

.btn {
    margin-top: 16px;
    padding: 16px 80px;
    border-radius: 32px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #1d9bf0;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
    transition: 0.25s ease;
}

.btn:hover, .tweetBtn:hover{
    background-color: #198ad6;
}

/* Middle Column */

.homeHeader {
    padding: 16px;
    border-top: 2px solid lightgray;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid lightgray;
}

.formInput {
    display: flex;
    width: 470px;
    margin: 8px;
    padding: 8px;
    border: none;
    font-size: large;
    resize: vertical;
}

.formInput:focus {
    border: none;
}

.tweetBtn {
    padding: 8px 20px;
    border: none;
    border-radius: 24px;
    background-color: #1d9bf0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: 0.25s ease;
    margin-bottom: 8px;
}

/* Right Column */


.searchBar {
    margin: 16px;
    padding: 12px 16px;
    border: none;
    border-radius: 24px;
    width: 250px;
    background-color: #eff3f4;
}
