.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
}

.formInput {
    padding: 16px;
    margin: 8px;
    border: none;
    background-color: lightgray;
    border-radius: 24px;
    width: 250px;
}

img {
    width: 64px;
}

.submit {
    border: none;
    margin-top: 8px;
    padding: 12px 24px;
    border-radius: 24px;
    color: white;
    background-color: #1d9bf0;
    transition: 0.25s ease;
}

.submit:hover {
    background-color: #198ad6;
}

.blue {
    color: #1d9bf0;
}

.route {
    transition: 0.25s ease;
}

.route:hover {
    opacity: 0.6;
}