.postContainer {
    border-bottom: 2px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.25s ease;
}

.postContainer:hover {
    background-color: lightgray;
}

.postDesc {
    display: flex;
    align-items: center;
    padding: 12px
}

.deleteBtn {
    width: 32px;
    cursor: pointer;
    opacity: 1;
    transition: 0.25s ease;
}

.deleteBtn:hover {
    opacity: 0.6;
}